In [1]:
import pandas as pd
from openai import OpenAI
from os import path
from glob import glob

import time

In [5]:
# root = '/Users/fred/Library/CloudStorage/Dropbox/Documents/JHt/automation/'
root = fr'D:\Dropbox\Documents\JHt\automation'

In [3]:
company_txts = glob(root + '*.txt')
# sort the list by name
company_txts.sort()

In [4]:
company_txts

['/Users/fred/Library/CloudStorage/Dropbox/Documents/JHt/automation/companies.txt',
 '/Users/fred/Library/CloudStorage/Dropbox/Documents/JHt/automation/companies_2.txt',
 '/Users/fred/Library/CloudStorage/Dropbox/Documents/JHt/automation/companies_3.txt']

In [5]:
companies = []
for txt in company_txts:
    with open(txt, 'r') as f:
        lines = f.readlines()
        companies_temp = [x.strip() for x in lines[0].split(';')]
        companies.extend(companies_temp)

In [6]:
df = pd.DataFrame(columns=['company_name', 'operation_in_CA', 'operation_reasoning', 'trader_in_CA', 'trader_reasoning'])

In [7]:
df['company_name'] = companies

In [8]:
df.fillna('', inplace=True)

In [9]:
df

,company_name,operation_in_CA,operation_reasoning,trader_in_CA,trader_reasoning
0,BlackRock Canada,,,,
1,Fidelity Investments Canada,,,,
2,RBC Global Asset Management,,,,
3,TD Asset Management,,,,
4,BMO Global Asset Management,,,,
...,...,...,...,...,...
633,SEB Asset Management,,,,
634,DWS Group (formerly Deutsche Asset Management),,,,
635,Aberdeen Standard Investments,,,,
636,Legal & General Investment Management,,,,
637,Intesa Sanpaolo,,,,

In [10]:
keywords = [
    'Canada', 'Vancouver', 'Calgary', 'Toronto', 
    'Ontario', 'British Columbia', 'Quebec', 
    'Montreal', 'Ottawa', 'Alberta', 'Manitoba', 
    'Saskatchewan', 'New Brunswick', 'Nova Scotia', 
    'Prince Edward Island', 'Newfoundland and Labrador', 
    'Yukon', 'Northwest Territories', 'Nunavut'
    ]

df['operation_in_CA'] = df['company_name'].apply(lambda x: 1.0 if any([kw in x for kw in keywords]) else '')

In [11]:
company = df.sample(1)['company_name'].values[0]

In [18]:
df1 = df[df['operation_in_CA'] == 1.0]
df1.to_csv(path.join(root, 'run_in_CA.csv'), index=False)
dfn1 = df[df['operation_in_CA'] != 1.0].reset_index(drop=True)

In [17]:
dfn1[dfn1['operation_reasoning'] != ""]

,company_name,operation_in_CA,operation_reasoning,trader_in_CA,trader_reasoning
0,RBC Global Asset Management,,Company Name: RBC Global Asset Management; Sco...,,
1,TD Asset Management,,Company Name: TD Asset Management; Score: 1; R...,,
2,BMO Global Asset Management,,Company Name: BMO Global Asset Management; Sco...,,
3,CIBC Asset Management,,Company Name: CIBC Asset Management; Score: 1;...,,
4,Scotia Global Asset Management,,Company Name: Scotia Global Asset Management; ...,,
...,...,...,...,...,...
66,Ewing Morris & Co Investment Partners Ltd.,,Company Name: Ewing Morris & Co Investment Par...,,
67,Barometer Capital Management,,Company Name: Barometer Capital Management; Sc...,,
68,EdgeHill Partners,,Company Name: EdgeHill Partners; Score: 0.5; R...,,
69,Scotia Institutional Asset Management,,Company Name: Scotia Institutional Asset Manag...,,
70,Quadravest Capital Management,,Company Name: Quadravest Capital Management; S...,,

In [19]:
api_key = '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'
client = OpenAI(
    api_key=api_key
)

for i, row in dfn1.iterrows():
    company_name = row['company_name']
    
    query_1 = f'''I am interested in working for a financial group in Canada. Here, I will provide you with a company name. Use your own judgement and knowledge base,\
    and tell me whether the company is operating in Canada: "1" means it is surely operating in Canada, "0" means this company surely does not operate in Canada. \
    Please provide me with the reasoning as well: for example, your knowledge base already owns the information that this company runs in Canada. \
    If you do not know whether this company operates in Canada, also check in which countries you know the company is operating in, and assess the possibility \
    of this company having offices in Canada, that should be how you provide me with a score between 0 and 1.

    Note, keep your judgement consistent and base solely on your knowledge base. I will show several companies' names twice, if you provide completely different answers, \
    I will discard your answers.

    Here are some examples:
    Company Name: HSBC Asset Management; Score: 1; Reasoning: My knowledge base confirms HSBC operates in Canada, including its asset management division.
    Company Name: Bluewater Investment Management; Score: 0.5; Reasoning: My knowledge base does not confirm whether Bluewater Investment Management operates in Canada or specify other countries where it operates. Hence, I assign a neutral score based on the uncertainty.
    Company Name: PIMCO; Score: 0.5; Reasoning: My knowledge base confirms PIMCO operates in the U.S. and Europe, but it does not clearly confirm whether it operates in Canada. Therefore, I assign a neutral score.

    Now, it is your turn. Company Name: {company_name}; Score and Reasoning: '''
    
    model = "gpt-4o-mini"
    chat_completion = client.chat.completions.create(
        messages=[
            {
                "role": "user",
                "content": query_1,
            }
        ],
        model=model,
        temperature=0.1
    )
    answer = chat_completion.choices[0].message.content
        
    dfn1.at[i, 'operation_reasoning'] = answer
    print(f'Completed {i} companies.')
    time.sleep(1)
    
    if i % 10 == 0:
        dfn1.to_csv(path.join(root, 'df_temp.csv'), index=False)

Completed 0 companies.
Completed 1 companies.
Completed 2 companies.
Completed 3 companies.
Completed 4 companies.
Completed 5 companies.
Completed 6 companies.
Completed 7 companies.
Completed 8 companies.
Completed 9 companies.
Completed 10 companies.
Completed 11 companies.
Completed 12 companies.
Completed 13 companies.
Completed 14 companies.
Completed 15 companies.
Completed 16 companies.
Completed 17 companies.
Completed 18 companies.
Completed 19 companies.
Completed 20 companies.
Completed 21 companies.
Completed 22 companies.
Completed 23 companies.
Completed 24 companies.
Completed 25 companies.
Completed 26 companies.
Completed 27 companies.
Completed 28 companies.
Completed 29 companies.
Completed 30 companies.
Completed 31 companies.
Completed 32 companies.
Completed 33 companies.
Completed 34 companies.
Completed 35 companies.
Completed 36 companies.
Completed 37 companies.
Completed 38 companies.
Completed 39 companies.
Completed 40 companies.
Completed 41 companies.
Completed 42 companies.
Completed 43 companies.
Completed 44 companies.
Completed 45 companies.
Completed 46 companies.
Completed 47 companies.
Completed 48 companies.
Completed 49 companies.
Completed 50 companies.
Completed 51 companies.
Completed 52 companies.
Completed 53 companies.
Completed 54 companies.
Completed 55 companies.
Completed 56 companies.
Completed 57 companies.
Completed 58 companies.
Completed 59 companies.
Completed 60 companies.
Completed 61 companies.
Completed 62 companies.
Completed 63 companies.
Completed 64 companies.
Completed 65 companies.
Completed 66 companies.
Completed 67 companies.
Completed 68 companies.
Completed 69 companies.
Completed 70 companies.
Completed 71 companies.
Completed 72 companies.
Completed 73 companies.
Completed 74 companies.
Completed 75 companies.
Completed 76 companies.
Completed 77 companies.
Completed 78 companies.
Completed 79 companies.
Completed 80 companies.
Completed 81 companies.
Completed 82 companies.
Completed 83 companies.
Completed 84 companies.
Completed 85 companies.
Completed 86 companies.
Completed 87 companies.
Completed 88 companies.
Completed 89 companies.
Completed 90 companies.
Completed 91 companies.
Completed 92 companies.
Completed 93 companies.
Completed 94 companies.
Completed 95 companies.
Completed 96 companies.
Completed 97 companies.
Completed 98 companies.
Completed 99 companies.
Completed 100 companies.
Completed 101 companies.
Completed 102 companies.
Completed 103 companies.
Completed 104 companies.
Completed 105 companies.
Completed 106 companies.
Completed 107 companies.
Completed 108 companies.
Completed 109 companies.
Completed 110 companies.
Completed 111 companies.
Completed 112 companies.
Completed 113 companies.
Completed 114 companies.
Completed 115 companies.
Completed 116 companies.
Completed 117 companies.
Completed 118 companies.
Completed 119 companies.
Completed 120 companies.
Completed 121 companies.
Completed 122 companies.
Completed 123 companies.
Completed 124 companies.
Completed 125 companies.
Completed 126 companies.
Completed 127 companies.
Completed 128 companies.
Completed 129 companies.
Completed 130 companies.
Completed 131 companies.
Completed 132 companies.
Completed 133 companies.
Completed 134 companies.
Completed 135 companies.
Completed 136 companies.
Completed 137 companies.
Completed 138 companies.
Completed 139 companies.
Completed 140 companies.
Completed 141 companies.
Completed 142 companies.
Completed 143 companies.
Completed 144 companies.
Completed 145 companies.
Completed 146 companies.
Completed 147 companies.
Completed 148 companies.
Completed 149 companies.
Completed 150 companies.
Completed 151 companies.
Completed 152 companies.
Completed 153 companies.
Completed 154 companies.
Completed 155 companies.
Completed 156 companies.
Completed 157 companies.
Completed 158 companies.
Completed 159 companies.
Completed 160 companies.
Completed 161 companies.
Completed 162 companies.
Completed 163 companies.
Completed 164 companies.
Completed 165 companies.
Completed 166 companies.
Completed 167 companies.
Completed 168 companies.
Completed 169 companies.
Completed 170 companies.
Completed 171 companies.
Completed 172 companies.
Completed 173 companies.
Completed 174 companies.
Completed 175 companies.
Completed 176 companies.
Completed 177 companies.
Completed 178 companies.
Completed 179 companies.
Completed 180 companies.
Completed 181 companies.
Completed 182 companies.
Completed 183 companies.
Completed 184 companies.
Completed 185 companies.
Completed 186 companies.
Completed 187 companies.
Completed 188 companies.
Completed 189 companies.
Completed 190 companies.
Completed 191 companies.
Completed 192 companies.
Completed 193 companies.
Completed 194 companies.
Completed 195 companies.
Completed 196 companies.
Completed 197 companies.
Completed 198 companies.
Completed 199 companies.
Completed 200 companies.
Completed 201 companies.
Completed 202 companies.
Completed 203 companies.
Completed 204 companies.
Completed 205 companies.
Completed 206 companies.
Completed 207 companies.
Completed 208 companies.
Completed 209 companies.
Completed 210 companies.
Completed 211 companies.
Completed 212 companies.
Completed 213 companies.
Completed 214 companies.
Completed 215 companies.
Completed 216 companies.
Completed 217 companies.
Completed 218 companies.
Completed 219 companies.
Completed 220 companies.
Completed 221 companies.
Completed 222 companies.
Completed 223 companies.
Completed 224 companies.
Completed 225 companies.
Completed 226 companies.
Completed 227 companies.
Completed 228 companies.
Completed 229 companies.
Completed 230 companies.
Completed 231 companies.
Completed 232 companies.
Completed 233 companies.
Completed 234 companies.
Completed 235 companies.
Completed 236 companies.
Completed 237 companies.
Completed 238 companies.
Completed 239 companies.
Completed 240 companies.
Completed 241 companies.
Completed 242 companies.
Completed 243 companies.
Completed 244 companies.
Completed 245 companies.
Completed 246 companies.
Completed 247 companies.
Completed 248 companies.
Completed 249 companies.
Completed 250 companies.
Completed 251 companies.
Completed 252 companies.
Completed 253 companies.
Completed 254 companies.
Completed 255 companies.
Completed 256 companies.
Completed 257 companies.
Completed 258 companies.
Completed 259 companies.
Completed 260 companies.
Completed 261 companies.
Completed 262 companies.
Completed 263 companies.
Completed 264 companies.
Completed 265 companies.
Completed 266 companies.
Completed 267 companies.
Completed 268 companies.
Completed 269 companies.
Completed 270 companies.
Completed 271 companies.
Completed 272 companies.
Completed 273 companies.
Completed 274 companies.
Completed 275 companies.
Completed 276 companies.
Completed 277 companies.
Completed 278 companies.
Completed 279 companies.
Completed 280 companies.
Completed 281 companies.
Completed 282 companies.
Completed 283 companies.
Completed 284 companies.
Completed 285 companies.
Completed 286 companies.
Completed 287 companies.
Completed 288 companies.
Completed 289 companies.
Completed 290 companies.
Completed 291 companies.
Completed 292 companies.
Completed 293 companies.
Completed 294 companies.
Completed 295 companies.
Completed 296 companies.
Completed 297 companies.
Completed 298 companies.
Completed 299 companies.
Completed 300 companies.
Completed 301 companies.
Completed 302 companies.
Completed 303 companies.
Completed 304 companies.
Completed 305 companies.
Completed 306 companies.
Completed 307 companies.
Completed 308 companies.
Completed 309 companies.
Completed 310 companies.
Completed 311 companies.
Completed 312 companies.
Completed 313 companies.
Completed 314 companies.
Completed 315 companies.
Completed 316 companies.
Completed 317 companies.
Completed 318 companies.
Completed 319 companies.
Completed 320 companies.
Completed 321 companies.
Completed 322 companies.
Completed 323 companies.
Completed 324 companies.
Completed 325 companies.
Completed 326 companies.
Completed 327 companies.
Completed 328 companies.
Completed 329 companies.
Completed 330 companies.
Completed 331 companies.
Completed 332 companies.
Completed 333 companies.
Completed 334 companies.
Completed 335 companies.
Completed 336 companies.
Completed 337 companies.
Completed 338 companies.
Completed 339 companies.
Completed 340 companies.
Completed 341 companies.
Completed 342 companies.
Completed 343 companies.
Completed 344 companies.
Completed 345 companies.
Completed 346 companies.
Completed 347 companies.
Completed 348 companies.
Completed 349 companies.
Completed 350 companies.
Completed 351 companies.
Completed 352 companies.
Completed 353 companies.
Completed 354 companies.
Completed 355 companies.
Completed 356 companies.
Completed 357 companies.
Completed 358 companies.
Completed 359 companies.
Completed 360 companies.
Completed 361 companies.
Completed 362 companies.
Completed 363 companies.
Completed 364 companies.
Completed 365 companies.
Completed 366 companies.
Completed 367 companies.
Completed 368 companies.
Completed 369 companies.
Completed 370 companies.
Completed 371 companies.
Completed 372 companies.
Completed 373 companies.
Completed 374 companies.
Completed 375 companies.
Completed 376 companies.
Completed 377 companies.
Completed 378 companies.
Completed 379 companies.
Completed 380 companies.
Completed 381 companies.
Completed 382 companies.
Completed 383 companies.
Completed 384 companies.
Completed 385 companies.
Completed 386 companies.
Completed 387 companies.
Completed 388 companies.
Completed 389 companies.
Completed 390 companies.
Completed 391 companies.
Completed 392 companies.
Completed 393 companies.
Completed 394 companies.
Completed 395 companies.
Completed 396 companies.
Completed 397 companies.
Completed 398 companies.
Completed 399 companies.
Completed 400 companies.
Completed 401 companies.
Completed 402 companies.
Completed 403 companies.
Completed 404 companies.
Completed 405 companies.
Completed 406 companies.
Completed 407 companies.
Completed 408 companies.
Completed 409 companies.
Completed 410 companies.
Completed 411 companies.
Completed 412 companies.
Completed 413 companies.
Completed 414 companies.
Completed 415 companies.
Completed 416 companies.
Completed 417 companies.
Completed 418 companies.
Completed 419 companies.
Completed 420 companies.
Completed 421 companies.
Completed 422 companies.
Completed 423 companies.
Completed 424 companies.
Completed 425 companies.
Completed 426 companies.
Completed 427 companies.
Completed 428 companies.
Completed 429 companies.
Completed 430 companies.
Completed 431 companies.
Completed 432 companies.
Completed 433 companies.
Completed 434 companies.
Completed 435 companies.
Completed 436 companies.
Completed 437 companies.
Completed 438 companies.
Completed 439 companies.
Completed 440 companies.
Completed 441 companies.
Completed 442 companies.
Completed 443 companies.
Completed 444 companies.
Completed 445 companies.
Completed 446 companies.
Completed 447 companies.
Completed 448 companies.
Completed 449 companies.
Completed 450 companies.
Completed 451 companies.
Completed 452 companies.
Completed 453 companies.
Completed 454 companies.
Completed 455 companies.
Completed 456 companies.
Completed 457 companies.
Completed 458 companies.
Completed 459 companies.
Completed 460 companies.
Completed 461 companies.
Completed 462 companies.
Completed 463 companies.
Completed 464 companies.
Completed 465 companies.
Completed 466 companies.
Completed 467 companies.
Completed 468 companies.
Completed 469 companies.
Completed 470 companies.
Completed 471 companies.
Completed 472 companies.
Completed 473 companies.
Completed 474 companies.
Completed 475 companies.
Completed 476 companies.
Completed 477 companies.
Completed 478 companies.
Completed 479 companies.
Completed 480 companies.
Completed 481 companies.
Completed 482 companies.
Completed 483 companies.
Completed 484 companies.
Completed 485 companies.
Completed 486 companies.
Completed 487 companies.
Completed 488 companies.
Completed 489 companies.
Completed 490 companies.
Completed 491 companies.
Completed 492 companies.
Completed 493 companies.
Completed 494 companies.
Completed 495 companies.
Completed 496 companies.
Completed 497 companies.
Completed 498 companies.
Completed 499 companies.
Completed 500 companies.
Completed 501 companies.
Completed 502 companies.
Completed 503 companies.
Completed 504 companies.
Completed 505 companies.
Completed 506 companies.
Completed 507 companies.
Completed 508 companies.
Completed 509 companies.
Completed 510 companies.
Completed 511 companies.
Completed 512 companies.
Completed 513 companies.
Completed 514 companies.
Completed 515 companies.
Completed 516 companies.
Completed 517 companies.
Completed 518 companies.
Completed 519 companies.
Completed 520 companies.
Completed 521 companies.
Completed 522 companies.
Completed 523 companies.
Completed 524 companies.
Completed 525 companies.
Completed 526 companies.
Completed 527 companies.
Completed 528 companies.
Completed 529 companies.
Completed 530 companies.
Completed 531 companies.
Completed 532 companies.
Completed 533 companies.
Completed 534 companies.
Completed 535 companies.
Completed 536 companies.
Completed 537 companies.
Completed 538 companies.
Completed 539 companies.
Completed 540 companies.
Completed 541 companies.
Completed 542 companies.
Completed 543 companies.
Completed 544 companies.
Completed 545 companies.
Completed 546 companies.
Completed 547 companies.
Completed 548 companies.
Completed 549 companies.
Completed 550 companies.
Completed 551 companies.
Completed 552 companies.
Completed 553 companies.
Completed 554 companies.
Completed 555 companies.
Completed 556 companies.
Completed 557 companies.
Completed 558 companies.
Completed 559 companies.
Completed 560 companies.
Completed 561 companies.
Completed 562 companies.
Completed 563 companies.
Completed 564 companies.
Completed 565 companies.
Completed 566 companies.
Completed 567 companies.
Completed 568 companies.
Completed 569 companies.
Completed 570 companies.
Completed 571 companies.
Completed 572 companies.
Completed 573 companies.
Completed 574 companies.
Completed 575 companies.

In [20]:
dfn1.to_csv(path.join(root, 'df_temp.csv'), index=False)

In [21]:
df = pd.concat([df1, dfn1], axis=0).reset_index(drop=True)

In [22]:
df

,company_name,operation_in_CA,operation_reasoning,trader_in_CA,trader_reasoning
0,BlackRock Canada,1.0,,,
1,Fidelity Investments Canada,1.0,,,
2,Invesco Canada,1.0,,,
3,Franklin Templeton Investments Canada,1.0,,,
4,PIMCO Canada,1.0,,,
...,...,...,...,...,...
633,SEB Asset Management,,Company Name: SEB Asset Management; Score: 0.5...,,
634,DWS Group (formerly Deutsche Asset Management),,Company Name: DWS Group (formerly Deutsche Ass...,,
635,Aberdeen Standard Investments,,Company Name: Aberdeen Standard Investments; S...,,
636,Legal & General Investment Management,,Company Name: Legal & General Investment Manag...,,
637,Intesa Sanpaolo,,Company Name: Intesa Sanpaolo; Score: 0.5; Rea...,,

In [24]:
import re

pattern = r'Score: ([0-9.]+); Reasoning: (.+)'

dfn1['operation_in_CA'] = dfn1['operation_reasoning'].apply(lambda x: float(re.search(pattern, x).group(1)))

In [26]:
dfn1['operation_reasoning'] = dfn1['operation_reasoning'].apply(lambda x: re.search(pattern, x).group(2))

In [28]:
df = pd.concat([df1, dfn1], axis=0).reset_index(drop=True)

In [29]:
df.to_csv(path.join(root, 'df_step1.csv'), index=False)

In [31]:
df.sort_values(by='operation_in_CA', ascending=False, inplace=True)

In [33]:
df.reset_index(drop=True, inplace=True)

In [35]:
df.to_csv(path.join(root, 'df_step1.csv'), index=False)

In [45]:
df

,company_name,operation_in_CA,operation_reasoning,trader_in_CA,trader_reasoning,google_link
0,BlackRock Canada,1.0,,,,https://www.google.com/search?q=BlackRock%20Ca...
1,Avenue Investment Management,1.0,My knowledge base confirms that Avenue Investm...,,,https://www.google.com/search?q=Avenue%20Inves...
2,Empire Life Investments,1.0,My knowledge base confirms that Empire Life In...,,,https://www.google.com/search?q=Empire%20Life%...
3,Pavilion Investment House,1.0,My knowledge base confirms that Pavilion Inves...,,,https://www.google.com/search?q=Pavilion%20Inv...
4,Gryphon Investment Counsel,1.0,My knowledge base confirms that Gryphon Invest...,,,https://www.google.com/search?q=Gryphon%20Inve...
...,...,...,...,...,...,...
633,Open Access Limited,0.0,My knowledge base does not indicate that Open ...,,,https://www.google.com/search?q=Open%20Access%...
634,Ping An Asset Management,0.0,My knowledge base indicates that Ping An Asset...,,,https://www.google.com/search?q=Ping%20An%20As...
635,China Merchants Securities,0.0,My knowledge base indicates that China Merchan...,,,https://www.google.com/search?q=China%20Mercha...
636,Mosaic Company,0.0,My knowledge base indicates that Mosaic Compan...,,,https://www.google.com/search?q=Mosaic%20Compa...
637,Wutherich & Co.,0.0,My knowledge base does not indicate that Wuthe...,,,https://www.google.com/search?q=Wutherich%20%2...

In [42]:
import urllib.parse
df['google_link'] = df['company_name'].apply(lambda x: f'https://www.google.com/search?q={urllib.parse.quote(x)}+careers')

In [47]:
df.to_csv(path.join(root, 'df_step1.csv'), index=False)

# Step 2

In [16]:
df = pd.read_csv(path.join(root, 'df_step1.csv'))

In [17]:
df1 = df[df['operation_in_CA'] > 0.5]

In [18]:
df1

,company_name,operation_in_CA,operation_reasoning,trader_in_CA,trader_reasoning,google_link
0,BlackRock Canada,1.0,NaN,NaN,NaN,https://www.google.com/search?q=BlackRock%20Ca...
1,Avenue Investment Management,1.0,My knowledge base confirms that Avenue Investm...,NaN,NaN,https://www.google.com/search?q=Avenue%20Inves...
2,Empire Life Investments,1.0,My knowledge base confirms that Empire Life In...,NaN,NaN,https://www.google.com/search?q=Empire%20Life%...
3,Pavilion Investment House,1.0,My knowledge base confirms that Pavilion Inves...,NaN,NaN,https://www.google.com/search?q=Pavilion%20Inv...
4,Gryphon Investment Counsel,1.0,My knowledge base confirms that Gryphon Invest...,NaN,NaN,https://www.google.com/search?q=Gryphon%20Inve...
...,...,...,...,...,...,...
477,CoPower Inc.,1.0,My knowledge base confirms that CoPower Inc. o...,NaN,NaN,https://www.google.com/search?q=CoPower%20Inc....
478,McLean Asset Management,1.0,My knowledge base confirms that McLean Asset M...,NaN,NaN,https://www.google.com/search?q=McLean%20Asset...
479,Gryphon Investment Counsel,1.0,My knowledge base confirms that Gryphon Invest...,NaN,NaN,https://www.google.com/search?q=Gryphon%20Inve...
480,Enbridge Inc.,1.0,My knowledge base confirms that Enbridge Inc. ...,NaN,NaN,https://www.google.com/search?q=Enbridge%20Inc...
481,TC Energy,1.0,"My knowledge base confirms that TC Energy, for...",NaN,NaN,https://www.google.com/search?q=TC%20Energy+ca...

In [19]:
api_key = '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'
client = OpenAI(
    api_key=api_key
)

for i, row in df1.iterrows():
    company_name = row['company_name']
    query_2 = f'''I am interested in working as a trader. Here, I will provide you with a company name. Use your own judgement and knowledge base,\
        tell me the possibility that this company has a trader position or not. "1" means the company has to have a trader position, otherwise it should not be able \
        to continously operate; "0" means this company surely does not have a trader position, its operation has nothing to do with trading. \
        Please provide me with the reasoning as well: for example, your knowledge base already owns the information that this company has a trader position, or the nature of \
        this company's operation requires a trader position, etc.
        
        Note, keep your judgement consistent and base solely on your knowledge base. I will show several companies' names twice, if you provide completely different answers, \
        I will discard your answers.

        Here are some examples:
        Company Name: HSBC Asset Management; Score: 1; Reasoning: My knowledge base confirms HSBC has asset management division, which requires a trader position.
        Company Name: BMO Capital Markets; Score: 1; Reasoning: My knowledge base confirms BMO Capital Markets includes its trading division.
        Company Name: Ewing Morris & Co Investment Partners Ltd. Score: 0.2; Reasoning: My knowledge base confirms Ewing Morris & Co Investment Partners Ltd. is a private equity firm, which is not likely to require a trader position.

        Now, it is your turn. Company Name: {company_name}; Score and Reasoning: '''

    model = "gpt-4o-mini"
    chat_completion = client.chat.completions.create(
        messages=[
            {
                "role": "user",
                "content": query_2,
            }
        ],
        model=model,
        temperature=0.1
    )
    answer = chat_completion.choices[0].message.content
        
    df1.at[i, 'trader_reasoning'] = answer
    print(f'Completed {i} companies.')
    time.sleep(1)
    
    if i % 10 == 0:
        df1.to_csv(path.join(root, 'df1_temp.csv'), index=False)

C:\Users\lihou\AppData\Local\Temp\ipykernel_27268\2017356681.py:38: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Company Name: BlackRock Canada; Score: 1; Reasoning: My knowledge base confirms that BlackRock is one of the largest asset management firms globally, and it operates in various investment strategies, including equities, fixed income, and alternative investments. These operations typically require trader positions to manage and execute trades in financial markets effectively.' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.at[i, 'trader_reasoning'] = answer

Completed 0 companies.
Completed 1 companies.
Completed 2 companies.
Completed 3 companies.
Completed 4 companies.
Completed 5 companies.
Completed 6 companies.
Completed 7 companies.
Completed 8 companies.
Completed 9 companies.
Completed 10 companies.
Completed 11 companies.
Completed 12 companies.
Completed 13 companies.
Completed 14 companies.
Completed 15 companies.
Completed 16 companies.
Completed 17 companies.
Completed 18 companies.
Completed 19 companies.
Completed 20 companies.
Completed 21 companies.
Completed 22 companies.
Completed 23 companies.
Completed 24 companies.
Completed 25 companies.
Completed 26 companies.
Completed 27 companies.
Completed 28 companies.
Completed 29 companies.
Completed 30 companies.
Completed 31 companies.
Completed 32 companies.
Completed 33 companies.
Completed 34 companies.
Completed 35 companies.
Completed 36 companies.
Completed 37 companies.
Completed 38 companies.
Completed 39 companies.
Completed 40 companies.
Completed 41 companies.
Completed 42 companies.
Completed 43 companies.
Completed 44 companies.
Completed 45 companies.
Completed 46 companies.
Completed 47 companies.
Completed 48 companies.
Completed 49 companies.
Completed 50 companies.
Completed 51 companies.
Completed 52 companies.
Completed 53 companies.
Completed 54 companies.
Completed 55 companies.
Completed 56 companies.
Completed 57 companies.
Completed 58 companies.
Completed 59 companies.
Completed 60 companies.
Completed 61 companies.
Completed 62 companies.
Completed 63 companies.
Completed 64 companies.
Completed 65 companies.
Completed 66 companies.
Completed 67 companies.
Completed 68 companies.
Completed 69 companies.
Completed 70 companies.
Completed 71 companies.
Completed 72 companies.
Completed 73 companies.
Completed 74 companies.
Completed 75 companies.
Completed 76 companies.
Completed 77 companies.
Completed 78 companies.
Completed 79 companies.
Completed 80 companies.
Completed 81 companies.
Completed 82 companies.
Completed 83 companies.
Completed 84 companies.
Completed 85 companies.
Completed 86 companies.
Completed 87 companies.
Completed 88 companies.
Completed 89 companies.
Completed 90 companies.
Completed 91 companies.
Completed 92 companies.
Completed 93 companies.
Completed 94 companies.
Completed 95 companies.
Completed 96 companies.
Completed 97 companies.
Completed 98 companies.
Completed 99 companies.
Completed 100 companies.
Completed 101 companies.
Completed 102 companies.
Completed 103 companies.
Completed 104 companies.
Completed 105 companies.
Completed 106 companies.
Completed 107 companies.
Completed 108 companies.
Completed 109 companies.
Completed 110 companies.
Completed 111 companies.
Completed 112 companies.
Completed 113 companies.
Completed 114 companies.
Completed 115 companies.
Completed 116 companies.
Completed 117 companies.
Completed 118 companies.
Completed 119 companies.
Completed 120 companies.
Completed 121 companies.
Completed 122 companies.
Completed 123 companies.
Completed 124 companies.
Completed 125 companies.
Completed 126 companies.
Completed 127 companies.
Completed 128 companies.
Completed 129 companies.
Completed 130 companies.
Completed 131 companies.
Completed 132 companies.
Completed 133 companies.
Completed 134 companies.
Completed 135 companies.
Completed 136 companies.
Completed 137 companies.
Completed 138 companies.
Completed 139 companies.
Completed 140 companies.
Completed 141 companies.
Completed 142 companies.
Completed 143 companies.
Completed 144 companies.
Completed 145 companies.
Completed 146 companies.
Completed 147 companies.
Completed 148 companies.
Completed 149 companies.
Completed 150 companies.
Completed 151 companies.
Completed 152 companies.
Completed 153 companies.
Completed 154 companies.
Completed 155 companies.
Completed 156 companies.
Completed 157 companies.
Completed 158 companies.
Completed 159 companies.
Completed 160 companies.
Completed 161 companies.
Completed 162 companies.
Completed 163 companies.
Completed 164 companies.
Completed 165 companies.
Completed 166 companies.
Completed 167 companies.
Completed 168 companies.
Completed 169 companies.
Completed 170 companies.
Completed 171 companies.
Completed 172 companies.
Completed 173 companies.
Completed 174 companies.
Completed 175 companies.
Completed 176 companies.
Completed 177 companies.
Completed 178 companies.
Completed 179 companies.
Completed 180 companies.
Completed 181 companies.
Completed 182 companies.
Completed 183 companies.
Completed 184 companies.
Completed 185 companies.
Completed 186 companies.
Completed 187 companies.
Completed 188 companies.
Completed 189 companies.
Completed 190 companies.
Completed 191 companies.
Completed 192 companies.
Completed 193 companies.
Completed 194 companies.
Completed 195 companies.
Completed 196 companies.
Completed 197 companies.
Completed 198 companies.
Completed 199 companies.
Completed 200 companies.
Completed 201 companies.
Completed 202 companies.
Completed 203 companies.
Completed 204 companies.
Completed 205 companies.
Completed 206 companies.
Completed 207 companies.
Completed 208 companies.
Completed 209 companies.
Completed 210 companies.
Completed 211 companies.
Completed 212 companies.
Completed 213 companies.
Completed 214 companies.
Completed 215 companies.
Completed 216 companies.
Completed 217 companies.
Completed 218 companies.
Completed 219 companies.
Completed 220 companies.
Completed 221 companies.
Completed 222 companies.
Completed 223 companies.
Completed 224 companies.
Completed 225 companies.
Completed 226 companies.
Completed 227 companies.
Completed 228 companies.
Completed 229 companies.
Completed 230 companies.
Completed 231 companies.
Completed 232 companies.
Completed 233 companies.
Completed 234 companies.
Completed 235 companies.
Completed 236 companies.
Completed 237 companies.
Completed 238 companies.
Completed 239 companies.
Completed 240 companies.
Completed 241 companies.
Completed 242 companies.
Completed 243 companies.
Completed 244 companies.
Completed 245 companies.
Completed 246 companies.
Completed 247 companies.
Completed 248 companies.
Completed 249 companies.
Completed 250 companies.
Completed 251 companies.
Completed 252 companies.
Completed 253 companies.
Completed 254 companies.
Completed 255 companies.
Completed 256 companies.
Completed 257 companies.
Completed 258 companies.
Completed 259 companies.
Completed 260 companies.
Completed 261 companies.
Completed 262 companies.
Completed 263 companies.
Completed 264 companies.
Completed 265 companies.
Completed 266 companies.
Completed 267 companies.
Completed 268 companies.
Completed 269 companies.
Completed 270 companies.
Completed 271 companies.
Completed 272 companies.
Completed 273 companies.
Completed 274 companies.
Completed 275 companies.
Completed 276 companies.
Completed 277 companies.
Completed 278 companies.
Completed 279 companies.
Completed 280 companies.
Completed 281 companies.
Completed 282 companies.
Completed 283 companies.
Completed 284 companies.
Completed 285 companies.
Completed 286 companies.
Completed 287 companies.
Completed 288 companies.
Completed 289 companies.
Completed 290 companies.
Completed 291 companies.
Completed 292 companies.
Completed 293 companies.
Completed 294 companies.
Completed 295 companies.
Completed 296 companies.
Completed 297 companies.
Completed 298 companies.
Completed 299 companies.
Completed 300 companies.
Completed 301 companies.
Completed 302 companies.
Completed 303 companies.
Completed 304 companies.
Completed 305 companies.
Completed 306 companies.
Completed 307 companies.
Completed 308 companies.
Completed 309 companies.
Completed 310 companies.
Completed 311 companies.
Completed 312 companies.
Completed 313 companies.
Completed 314 companies.
Completed 315 companies.
Completed 316 companies.
Completed 317 companies.
Completed 318 companies.
Completed 319 companies.
Completed 320 companies.
Completed 321 companies.
Completed 322 companies.
Completed 323 companies.
Completed 324 companies.
Completed 325 companies.
Completed 326 companies.
Completed 327 companies.
Completed 328 companies.
Completed 329 companies.
Completed 330 companies.
Completed 331 companies.
Completed 332 companies.
Completed 333 companies.
Completed 334 companies.
Completed 335 companies.
Completed 336 companies.
Completed 337 companies.
Completed 338 companies.
Completed 339 companies.
Completed 340 companies.
Completed 341 companies.
Completed 342 companies.
Completed 343 companies.
Completed 344 companies.
Completed 345 companies.
Completed 346 companies.
Completed 347 companies.
Completed 348 companies.
Completed 349 companies.
Completed 350 companies.
Completed 351 companies.
Completed 352 companies.
Completed 353 companies.
Completed 354 companies.
Completed 355 companies.
Completed 356 companies.
Completed 357 companies.
Completed 358 companies.
Completed 359 companies.
Completed 360 companies.
Completed 361 companies.
Completed 362 companies.
Completed 363 companies.
Completed 364 companies.
Completed 365 companies.
Completed 366 companies.
Completed 367 companies.
Completed 368 companies.
Completed 369 companies.
Completed 370 companies.
Completed 371 companies.
Completed 372 companies.
Completed 373 companies.
Completed 374 companies.
Completed 375 companies.
Completed 376 companies.
Completed 377 companies.
Completed 378 companies.
Completed 379 companies.
Completed 380 companies.
Completed 381 companies.
Completed 382 companies.
Completed 383 companies.
Completed 384 companies.
Completed 385 companies.
Completed 386 companies.
Completed 387 companies.
Completed 388 companies.
Completed 389 companies.
Completed 390 companies.
Completed 391 companies.
Completed 392 companies.
Completed 393 companies.
Completed 394 companies.
Completed 395 companies.
Completed 396 companies.
Completed 397 companies.
Completed 398 companies.
Completed 399 companies.
Completed 400 companies.
Completed 401 companies.
Completed 402 companies.
Completed 403 companies.
Completed 404 companies.
Completed 405 companies.
Completed 406 companies.
Completed 407 companies.
Completed 408 companies.
Completed 409 companies.
Completed 410 companies.
Completed 411 companies.
Completed 412 companies.
Completed 413 companies.
Completed 414 companies.
Completed 415 companies.
Completed 416 companies.
Completed 417 companies.
Completed 418 companies.
Completed 419 companies.
Completed 420 companies.
Completed 421 companies.
Completed 422 companies.
Completed 423 companies.
Completed 424 companies.
Completed 425 companies.
Completed 426 companies.
Completed 427 companies.
Completed 428 companies.
Completed 429 companies.
Completed 430 companies.
Completed 431 companies.
Completed 432 companies.
Completed 433 companies.
Completed 434 companies.
Completed 435 companies.
Completed 436 companies.
Completed 437 companies.
Completed 438 companies.
Completed 439 companies.
Completed 440 companies.
Completed 441 companies.
Completed 442 companies.
Completed 443 companies.
Completed 444 companies.
Completed 445 companies.
Completed 446 companies.
Completed 447 companies.
Completed 448 companies.
Completed 449 companies.
Completed 450 companies.
Completed 451 companies.
Completed 452 companies.
Completed 453 companies.
Completed 454 companies.
Completed 455 companies.
Completed 456 companies.
Completed 457 companies.
Completed 458 companies.
Completed 459 companies.
Completed 460 companies.
Completed 461 companies.
Completed 462 companies.
Completed 463 companies.
Completed 464 companies.
Completed 465 companies.
Completed 466 companies.
Completed 467 companies.
Completed 468 companies.
Completed 469 companies.
Completed 470 companies.
Completed 471 companies.
Completed 472 companies.
Completed 473 companies.
Completed 474 companies.
Completed 475 companies.
Completed 476 companies.
Completed 477 companies.
Completed 478 companies.
Completed 479 companies.
Completed 480 companies.
Completed 481 companies.

In [21]:
df1.to_csv(path.join(root, 'df1_temp.csv'), index=False)

In [23]:
import re

pattern = r'Score: ([0-9.]+); Reasoning: (.+)'

df1['trader_in_CA'] = df1['trader_reasoning'].apply(lambda x: float(re.search(pattern, x).group(1)))

C:\Users\lihou\AppData\Local\Temp\ipykernel_27268\3982870188.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['trader_in_CA'] = df1['trader_reasoning'].apply(lambda x: float(re.search(pattern, x).group(1)))

In [25]:
df1['trader_reasoning'] = df1['trader_reasoning'].apply(lambda x: re.search(pattern, x).group(2))

C:\Users\lihou\AppData\Local\Temp\ipykernel_27268\1529193661.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['trader_reasoning'] = df1['trader_reasoning'].apply(lambda x: re.search(pattern, x).group(2))

In [27]:
df1['trader_in_CA'].describe()

count    482.000000
mean       0.807054
std        0.390256
min        0.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        1.000000
Name: trader_in_CA, dtype: float64

In [30]:
df1.sort_values(by=['operation_in_CA', 'trader_in_CA'], ascending=False, inplace=True)
df1.reset_index(drop=True, inplace=True)

C:\Users\lihou\AppData\Local\Temp\ipykernel_27268\1054963813.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.sort_values(by=['operation_in_CA', 'trader_in_CA'], ascending=False, inplace=True)

In [31]:
df1

,company_name,operation_in_CA,operation_reasoning,trader_in_CA,trader_reasoning,google_link
0,BlackRock Canada,1.0,NaN,1.0,My knowledge base confirms that BlackRock is o...,https://www.google.com/search?q=BlackRock%20Ca...
1,Avenue Investment Management,1.0,My knowledge base confirms that Avenue Investm...,1.0,My knowledge base indicates that Avenue Invest...,https://www.google.com/search?q=Avenue%20Inves...
2,Empire Life Investments,1.0,My knowledge base confirms that Empire Life In...,1.0,My knowledge base indicates that Empire Life I...,https://www.google.com/search?q=Empire%20Life%...
3,Pavilion Investment House,1.0,My knowledge base confirms that Pavilion Inves...,1.0,My knowledge base indicates that Pavilion Inve...,https://www.google.com/search?q=Pavilion%20Inv...
4,Gryphon Investment Counsel,1.0,My knowledge base confirms that Gryphon Invest...,1.0,My knowledge base indicates that Gryphon Inves...,https://www.google.com/search?q=Gryphon%20Inve...
...,...,...,...,...,...,...
477,Nutrien,1.0,My knowledge base confirms that Nutrien is a C...,0.0,My knowledge base indicates that Nutrien is pr...,https://www.google.com/search?q=Nutrien+careers
478,Newport Private Wealth Inc.,1.0,My knowledge base confirms that Newport Privat...,0.0,My knowledge base indicates that Newport Priva...,https://www.google.com/search?q=Newport%20Priv...
479,CoPower Inc.,1.0,My knowledge base confirms that CoPower Inc. o...,0.0,My knowledge base indicates that CoPower Inc. ...,https://www.google.com/search?q=CoPower%20Inc....
480,Enbridge Inc.,1.0,My knowledge base confirms that Enbridge Inc. ...,0.0,My knowledge base indicates that Enbridge Inc....,https://www.google.com/search?q=Enbridge%20Inc...
481,TC Energy,1.0,"My knowledge base confirms that TC Energy, for...",0.0,My knowledge base indicates that TC Energy is ...,https://www.google.com/search?q=TC%20Energy+ca...

In [32]:
df1.to_csv(path.join(root, 'df_step2.csv'), index=False)